header{
    background-color: blueviolet;
    color: aquamarine;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

nav ul li{
    padding: 1rem;
}
.card{
    border: 2px solid black;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 1rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-width: 600px) {
    nav ul{
        flex-direction: row;
        justify-content: space-around;
    }
    .cards{
        flex-direction: row;
        justify-content: space-around;


    }
}